<p></p>
    <div class="tile_div" style="display: block; height: 150px;">
        <a style="height: 40px; vertical-align: middle;" (click)="filter('')" class="myButton">All products</a>
        <a style="height: 40px; vertical-align: middle;" (click)="filter('kitchen_products')"class="myButton">Kitchen Products</a>
        <a style="height: 40px; vertical-align: middle;" (click)="filter('baby_clothes')" class="myButton">Baby Clothes</a>
        <a style="height: 40px; vertical-align: middle;" (click)="filter('mens_clothes')"class="myButton">Men's Clothes</a>
        <a style="height: 40px; vertical-align: middle;" (click)="filter('womens_clothes')"class="myButton">Women's Clothes</a>
        <a style="height: 40px; vertical-align: middle;" (click)="filter('groceries')"class="myButton">Groceries</a>
        <a style="height: 40px; vertical-align: middle;" (click)="filter('wedding_decorations')"class="myButton">Wedding Decorations</a>
    </div>
    <p></p>
    <div class="container d-flex">
        <img src="./assets/background.jpg" style="height: 350px;">
    </div>



<div class="container">
    <div class="row">
        <br>
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="" style="width: 160px;">
                <h5 style="white-space: wrap;overflow: hidden;text-overflow: ellipsis;max-width: 2000ch;">{{item.title}}</h5>
                <p style="white-space: wrap;overflow: hidden;text-overflow: ellipsis;max-width: 200ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item) style="height: 40px; font-size: 30px;">Add to cart</button>
            </div>
            <p></p>
        </ng-container>
    </div>
</div>
